In [1]:
2+2

4

In [2]:
#string replication
x = input('Input string value: ')
y = int(input('Input replication value: '))
print(x * y )

ValueError: invalid literal for int() with base 10: ''

In [ ]:
len('dasdas')

6

In [ ]:
#Print, input, len
print('What is your name')
print()
name = input()
print('What is your age')
print()
age = int(input())
print('Your name is ' + name + ' you are ' + str(age) + ' years old ')

What is your name

What is your age

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#f string
print(f'Your name is {name} and you are {age} years old')

Your name is Bartek and you are 25 years old

In [ ]:
#Boolean
5<6

True

In [ ]:
(5<6) and (4>2)

True

In [ ]:
#If, elif, else
name =input('Write your name: ')
if name == 'Bartek':
    print('Hi Bartek')
else:
    name != 'Bartek'
    print('Who are you')

Whoa are you

In [ ]:
#Rainy day

weather = input('Is it raining today [Y/N]: ')

if weather == 'Y':
    umbrella = input('Do you have an umbrella? [Y/N]')
    if umbrella == 'Y':
        print('You can go outside')
    elif umbrella == 'N':
        print('Stay home for next 10 minutes')
else:
    weather != 'Y'
    print('You have sunny day')

You can go outside

In [ ]:
#If vs while
x = 0
if x < 5:
    print('Hi')
    x = x + 1

Hi

In [ ]:
x = 0
while x < 5:
    print('Hi')
    x = x + 1

Hi
Hi
Hi
Hi
Hi

In [ ]:
while True:
    print('Hello, who are you?')
    name = input('>')
    if name != 'Bartek':
        continue
    print('Hello Bart, how old are you?')
    age = int(input('>'))
    if age != 27:
        continue
    print('Hello Bart you are 27 years old')
    city = input('>')
    city != 'Gdynia'
    if city == 'Gdynia':
        break
print('Hi Bart, its you')

Hello, who are you?
Hello, who are you?
Hello Bart, how old are you?
Hello, who are you?
Hello, who are you?
Hello, who are you?
Hello, who are you?
Hello, who are you?
Hello, who are you?
Hello, who are you?
Hello, who are you?
Hello, who are you?
Hello, who are you?
Hello Bart, how old are you?
Hello, who are you?
Hello, who are you?
Hello Bart, how old are you?
Hello Bart you are 27 years old
Hi Bart, its you

In [ ]:
#Guess the number game
import random
import sys


print('Welcome to the number guessing game')
print('You have three levels to choose from. One is the easiest, Two is moderate and Three is hard.')
print('What do you choose:')

level_user = []

while True:
    user_input = input('What is the level (1,2,3): ').strip()
    
    if not user_input:
        print('No chocie go again')
        continue
    if not user_input.isdigit():
        print('It must be number 1, 2 or 3')
        continue
    
    level = int(user_input)
    
    if level == 1:
        x = random.randint(1,10)
        print(f'You choosed level {level}')
        break
    elif level == 2:
        x = random.randint(1,50)
        print(f'You choosed level {level}')
        break
    elif level == 3:
        x = random.randint(1,100)
        print(f'You choosed level {level}')
        break
    else:
        print('Wrong level')
        

#Guessing
while True:
    print('Chose your number')
    user_number = input('Chose your number: ').strip()
    
    if not user_number:
        print('No chocie go again')
        continue
    if not user_number.isdigit():
        print('It must be number 1, 2 or 3')
        continue
    
    guess = int(user_number)
    
    if guess > x:
        print(f'Wrong number you missed by {guess - x}')
        continue
    elif guess < x:
        print(f'Wrong number you missed by {x - guess}')
        continue
    else: 
        print('Correct!')
        break

Welcome to the number guessing game
You have three levels to choose from. One is the easiest, Two is moderate and Three is hard.
What do you choose:
No chocie go again

ValueError: invalid literal for int() with base 10: 'q'

In [7]:
#FizzBuzz
for i in range (1,101):
    
    if i % 3 == 0 and i % 5 == 0:
        print('FizzBuzz')
    elif i % 3 == 0:
        print('Fizz')
    elif i % 5 == 0:
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [1]:
#Functions
def hello():
    print('Hi')
hello()

Hi

In [2]:
def hello(name, age, country):
    print(f'Hello {name}, you are {age} and you are from {country}')
hello('Bartek', 27, 'Gdynia')

Hello Bartek, you are 27 and you are from Gdynia

In [ ]:
#Function with input
def hello(name, age, country):
    print(f'Hello {name}, you are {age} and you are from {country}')
    
name = input()
age = input().strip()
age = int(age)
country = input()

hello(name, age, country)

Hello Bartek, you are 27 and you are from Gdynia

In [14]:
#Head or tails
import random

for i in range(100):
    if random.randint(0, 1) == 0:
        print('H', end = '')
    else:
        print('T', end = '')
print()

HTHHTHHHTTTHTTTHHHTTHHTTTHTHTTTHHHTHHHTTHTHHTHTTTHHHTHHTTTTTHTHHHTTTHTHTHTTHHHHTHHHTTHTHHHTHHHHHTTHT

In [16]:
def stats(numbers):
    minimum = min(numbers)
    maximum = max(numbers)
    return minimum, maximum

length = [12,53,123,42,56,72,23,56,78,98]

minimun, maximum = stats(length)
print(f'Min: {minimun}, max: {maximum}')

Min: 12, max: 123

In [18]:
#Global
x = 10

def number():
    print(x)
number()
print(x)

10
10

In [22]:
def number():
    global x
    x = 10
    print(x)
number()
print(x)

10
10

In [26]:
#Local
def number():
    y = 10
    print(y)
number()
#print(y) y is local here and cannot be called out of the function alone

10

In [29]:
#Add 
def add(a, b):
    sum = a + b
    print(f'Sum of a and b is: {sum}')
    
a = input('What is your number: ').strip()
a = int(a)
b = input('What is your second number: ').strip()
b = int(b)

add(a,b)

Sum of a and b is: 2

In [ ]:
#Even or add
def if_even(a):
    if a % 2 == 0:
        print('Is even')
    elif a % 2 != 0:
        print('Is odd')
        
a = input('What is your number: ').strip()
a = int(a)

if_even(a)

Is even

In [34]:
#Find max 

numbers = [1,2,3,12,31,2321,1231231,3123123312131]

def max_values(numbers):
    maximum = max(numbers)
    print(f'Max number is {maximum}')
max_values(numbers)

Max number is 3123123312131

In [ ]:
#Restaurant menu
order = []
print('Welcome to the restaurant. What is you dream pizza:')

while True:
    x = input('Add your ingredients: ')
    order.append(x)
    
    if x == 'q':
        break
    
order.pop()
print(f'Your pizza is made from: {order}')

Welcome to the restaurant. What is you dream pizza:
Your pizza is made from: ['Ham', 'Cheese', 'Cucamber']

In [1]:
#Dictionaries

In [2]:
#Sets
set([1,1,2,3])

{1, 2, 3}

In [12]:
s = 'hello'
# Print out 'o' using indexing
print(s[-1])
print(s[4])

o
o

In [11]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

In [13]:
#Reassign 'hello' in this nested list to say 'goodbye' instead:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'Goodbye'
list3

[1, 2, [3, 4, 'Goodbye']]

In [18]:
#Sort
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

In [19]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [21]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [23]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1]

['hello']

In [30]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2]

['hello']

In [31]:
#Set
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [33]:
#OOP

In [36]:
class Animal():
    
    def __init__(self, name):
        self.name = name
        
    def greet(self):
        print(f'Hi {self.name}')
        
bart = Animal('Bartek')
bart.greet()

Hi Bartek

In [32]:
class Cat:
    def sound(self):
        print("Meow")

class Cow:
    def sound(self):
        print("Moo")

for animal in [Cat(), Cow()]:
    animal.sound()

Meow
Moo

In [44]:
class Dog():
    
    def __init__(self, breed, name, color):
        self.breed = breed
        self.name = name
        self.color = color
        
    def bark(self):
        print('Woof')
        
my_dog = Dog('Husky', 'Ozi', 'Black')
print(my_dog.breed)
print(my_dog.name)
print(my_dog.color)
my_dog.bark()

Husky
Ozi
Black
Woof

In [47]:
class Circle():
    
    #Class object attribute
    pi = 3.14
    
    def __init__(self, radius=1):
        self.radius = radius
        
    #Method
    def get_aera(self):
        return self.radius * self.pi * 2

my_circle = Circle(30)
my_circle.radius
my_circle.get_aera()

188.4

In [50]:
#Excerises
class Book():
    def __init__(self, title, author, year):
        self.title = title
        self.author = author
        self.year = year
        
    def display_info(self):
        print(f'The book was written by {self.author}, the title is {self.title}, and the year when was published is {self.year}')
        
tolkien = Book('The Hobbot', 'J.R.R Tolkien', 1937)
tolkien.display_info()

The book was written by J.R.R Tolkien, the title is The Hobbot, and the year when was published is 1937

In [ ]:
#Student task

class Student():
    
    #Attributes
    def __init__(self, name, student_id, grades = None):
        self.name = name
        self.student_id = student_id
        self.grades = grades if grades is not None else []
    
    #Methods
    def average(self):
        if self.grades:
            return sum(self.grades) / len(self.grades)
        return 0
        
    def display_info(self):
        print(f'Student name is: {self.name}, Student ID is {self.student_id}. Student grades are: {self.grades}')
        
    def add_grade(self, grade):
        self.grades.append(grade)
        print(f'Grade {grade} was added')
        
    def display_grades(self):
        print(f'Grades are {self.grades}')  
        
    def status(self):
        if self.average() > 60:
            print('Pass')
        else:
            print('Failed')  

x = Student('Bartek', 123, [100,23,69,90,98,99.80])

x.average()
x.display_info()
x.add_grade(4)
x.display_grades()
x.status()

Student name is: Bartek, Student ID is 123. Student grades are: [100, 23, 69, 90, 98, 99.8]
Grade 4 was added
Grades are [100, 23, 69, 90, 98, 99.8, 4]
Pass

In [91]:
#Inheritence

class Animal():
    def __init__(self):
        print('Animal Created')
        
    #Methods
    def eat(self):
        print('Animal is eating')
        
    def who_i_am(self):
        print('I am an animal')

In [92]:
animal = Animal()
animal.who_i_am()

Animal Created
I am an animal

In [97]:
class Dog(Animal):
    def __init__(self):
        Animal.__init__(self)
        print('Dog is created')
        
    def eat(self):
        print('Dog is eating')
        
    def bark(self):
        print('Woof')

In [99]:
dog = Dog()
dog.who_i_am()
#Dog class
dog.eat()
#Animal class
animal.eat()
dog.bark()

Animal Created
Dog is created
I am an animal
Dog is eating
Animal is eating
Woof

In [ ]:
#Polymorphism
pi = 3.14
class Shape():
    def __init__(self):
        print('Calculate shape of figures')
    def aera(self):
        pass
        
class Circle(Shape):
    def __init__(self, radius):
        Shape.__init__(self)
        self.radius=radius 
    def aera(self):
        print(f'Circle aera is {self.radius * self.radius * pi}')

class Rectangle(Shape):
    def __init__(self, width, height):
        Shape.__init__(self)
        self.width=width 
        self.height=height
    def aera(self):
        print(f'Rectangle aera is {self.height * self.width}')
        
class Triangle(Shape):
    def __init__(self, width, height):
        Shape.__init__(self)
        self.width=width 
        self.height=height
    def aera(self):
        print(f'Triangle aera is {(self.height * self.width) / 2}')

circle = Circle(2)
print(circle.aera())
rectangle = Rectangle(2,3)
print(rectangle.aera())
triangle = Triangle(13,12)
print(triangle.aera())

Calculate shape of figures
Circle aera is 12.56
None
Calculate shape of figures
Rectangle aera is 6
None
Calculate shape of figures
Triangle aera is 78.0
None

In [120]:
class Animal():
    def __init__(self):
        print('Creates animal')

class Dog(Animal):
    def __init__(self, name):
        Animal.__init__(self)
        self.name = name
    def speak(self):
        return f"This is {self.name} woof"

class Cat(Animal):
    def __init__(self, name):
        Animal.__init__(self)
        self.name = name
    def speak(self):
        return f"This is {self.name} moew"
    
class Cow(Animal):
    def __init__(self, name):
        Animal.__init__(self)
        self.name = name
    def speak(self):
        return f"This is {self.name} mooooo"
    
#Animals 
animals = [Dog('Niko'), 
           Cat('Felix'), 
           Cow('Cow')]

for animal in animals:
    print(f'This is {animal.speak()}')

Creates animal
Creates animal
Creates animal
This is This is Niko woof
This is This is Felix moew
This is This is Cow mooooo

In [131]:
#Magic and dunder
class Dog:
    def __init__(self, name):   # special method
        self.name = name        # regular attribute

    def speak (self):          # special method
        return f"This is {self.name}"
        
dog = Dog('Niko')
print(dog.speak())

This is Niko

In [134]:
#Magic and dunder

class Book():
    def __init__(self, title, name, year):
        self.title = title
        self.name = name
        self.year = year
    
    def __str__(self):
        return f'{self.title} by {self.name}, written in {self.year}'
    
    def __len__(self):
        return self.year
    
book = Book('XYZ', 'Bartek', 2025)
print(book)
len(book)

XYZ by Bartek, written in 2025

2025

In [ ]:
import math

class Line():
    def __init__(self, coor1, coor2):
        self.coor1 = coor1
        self.coor2 = coor2
        print('Coordinates added')
    
    def distance(self):
        global x1, x2, y1, y2
        x1, y1 = self.coor1
        x2, y2 = self.coor2
        return f'The distance is {math.sqrt((x2-x1)+((y2- y1)))}'
    
    def slope(self):
        return f'The slope is {(y2-y1) / (x2 - x1)}'
    
li = Line((3,2), (8,10))
print(li.distance())
print(li.slope())

Coordinates added
The distance is 3.605551275463989
The slope is 1.6

In [ ]:
#Bank account

class Account():
    def __init__(self, name, value):
        self.name = name
        self.value = value
        
    def __str__(self):
            return f'Your name is {self.name} and your balance is {self.value} USD'
        
    def add_money(self, amount):
        self.value = self.value + amount
        return f'Your new balance is {self.value}'
    
    def withdraw (self, amount):
        if amount > self.value:
            return 'You dont have enough money'
        else:
            self.value = self.value - amount
            return f'Your new balance is {self.value}'      
             
bart = Account('Bartek', 1000)
print(bart)
print(bart.add_money(100))
print(bart.withdraw(10))
print(bart.withdraw(10000))
print(bart)

Your name is Bartek and your balance is 1000 USD
Your new balance is 1100
Your new balance is 1090
You dont have enough money
Your name is Bartek and your balance is 1090 USD

Magic and dunder methods

In [23]:
class Book():
    def __init__(self, title):
        self.title = title
        
    def __str__(self):
        return f'The book is {self.title}'
    
    def __repr__(self):
        return f'The book is {self.title}'
        
book = Book('The Hobbit')
print(book)
repr(book)

The book is The Hobbit

'The book is The Hobbit'

In [ ]:
class Add():
    def __init__(self,a):
        self.a = a
       
    def __add__(self, other):
        return Add(self.a + other.a)
    
    def __str__(self):
        return f'Result is {self.a}'
       
x = Add(2)
y = Add(3)
z = x + y
print(z)

Result is 5

In [39]:
class Sub():
    def __init__(self,a):
        self.a = a
        
    def __sub__(self,other):
        return Sub(self.a - other.a)
    
    def __str__(self):
        return f'Result is: {self.a}'

x = Sub(123432)
y = Sub(13123432)
z = x - y
print(z)

Result is: -13000000

In [41]:
#Bookstore
class BookStore():
    def __init__(self, user):
        self.user = user
        self.books = []
        print (f'Welcome to the bookstore {self.user}')
    
    def add_book(self, title):
        self.books.append(title)
        print(f'{title} has been added to the list')
    
    def remove(self, title):
        if title in self.books:
            self.books.remove(title)
            print(f'{title} has been removed')
        else:
            print(f'{title} book not in the list')
    
    def __str__ (self):
        return f'{self.user} has {self.books}'
    
bart = BookStore('Bartek')
bart.add_book('The Hobbit')
bart.add_book('Lotr')
bart.add_book('Harry Potter')
bart.add_book('Inglories Bastards')
bart.remove('Mindfuck')
print(bart)

tom = BookStore('Tom')
tom.add_book('League of Legends')
tom.add_book('Netflix')
tom.add_book('Python')
tom.add_book('Louis Vuitton Book')
tom.remove('Python')
print(bart)
print(tom)

Welcome to the bookstore Bartek
The Hobbit has been added to the list
Lotr has been added to the list
Harry Potter has been added to the list
Inglories Bastards has been added to the list
Mindfuck book not in the list
Bartek has ['The Hobbit', 'Lotr', 'Harry Potter', 'Inglories Bastards']
Welcome to the bookstore Tom
League of Legends has been added to the list
Netflix has been added to the list
Python has been added to the list
Louis Vuitton Book has been added to the list
Python has been removed
Bartek has ['The Hobbit', 'Lotr', 'Harry Potter', 'Inglories Bastards']
Tom has ['League of Legends', 'Netflix', 'Louis Vuitton Book']

In [71]:
#Restaurant

class Restaurant():
    def __init__(self):
        self.waiters = []
        self.chefs = []
        print('Welcome to the restaurant system')
        
    def waiter(self, name, age, tables):
        waiter_info = {
            'name' : name,
            'age' : age,
            'tables' : tables
        }
        self.waiters.append(waiter_info)
        print(f'{name} is {age} years old and is responsible for {tables}')
        
    def chef(self,name, age, responsibility):
        chef_info = {
            'name' : name,
            'age' : age,
            'responsibility' : responsibility
        }
        self.chefs.append(chef_info)
        print(f'{name} is {age} years old and main responsibility is {responsibility}')
        
    def __str__(self):
        summary = "Here is the list of all chefs:\n\n"
        summary += "Chefs:\n"
        for chef in self.chefs:
            summary += f" - {chef['name']} ({chef['age']}): {chef['responsibility']}\n"

    
        summary += "Here is the list of all waiters:\n\n"
        summary += "Waiters:\n"
        for waiter in self.waiters:
            summary += f" - {waiter['name']} ({waiter['age']}): {waiter['tables']}\n"
        
        return summary
    
fusion = Restaurant()
fusion.waiter('Bartek', 27, [1,2,3,4])
fusion.waiter('Tom', 32, [5,6,7,8,9])
fusion.chef('Vinh', 56, 'Sosu chef')
fusion.chef('Mikkel', 22, 'Kitcher assistant')
print(fusion)

Welcome to the restaurant system
Bartek is 27 years old and is responsible for [1, 2, 3, 4]
Tom is 32 years old and is responsible for [5, 6, 7, 8, 9]
Vinh is 56 years old and main responsibility is Sosu chef
Mikkel is 22 years old and main responsibility is Kitcher assistant
Here is the list of all chefs:

Chefs:
 - Vinh (56): Sosu chef
 - Mikkel (22): Kitcher assistant
Here is the list of all waiters:

Waiters:
 - Bartek (27): [1, 2, 3, 4]
 - Tom (32): [5, 6, 7, 8, 9]

In [8]:
#__init__

class User:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print(f'Welcom {self.name} your age is {self.age}')
        
    def hello(self,message):
        print(message, 'age', self.age, self.name)
        
bart = User('Bartek', 27)
bart.hello('Hello')

Welcom Bartek your age is 27
Hello age 27 Bartek

In [ ]:
#Rocket going up
from random import randint
from math import sqrt 

class Rocket:
    """
    Klasa rakiety
    """
    def __init__(self, speed, altitude = 0, x = 0):
        self.altitude = altitude
        self.speed = speed
        self.x = 0
        
    def moveUp(self):
        self.altitude += self.speed
        
    def __str__(self):
        return f'Rockets altitude is: {str(self.altitude)} and its speed is {str(self.speed)}'

        
class RocketBoard():
    def __init__(self, amountOfRockets):
        self.rockets = [Rocket(randint(0,10)) for _ in range(5)]

        for _ in range(10):
            rocketIndexMove = randint(0, 4)
            self.rockets[rocketIndexMove].moveUp()

        for rocket in self.rockets:
            print(rocket)

    def __getitem__(self, key):
        return self.rockets[key]
    
    def __setitem__(self,key,value):
        self.rockets[key].altitude = value
        
    @staticmethod
    def get_distance(rocket1, rocket2):
        ab = (rocket1.altitude - rocket2.altitude) ** 2
        bc = (rocket1.x - rocket2.x) ** 2
        return sqrt(ab + bc)
   
board = RocketBoard(2)
board[0].x = 4
print(RocketBoard.get_distance(board[0], board[1]))

Rockets altitude is: 2 and its speed is 1
Rockets altitude is: 2 and its speed is 2
Rockets altitude is: 14 and its speed is 7
Rockets altitude is: 14 and its speed is 7
Rockets altitude is: 18 and its speed is 6
4.0

In [1]:
#Lists Comprahensions

squares = [x*x for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
only_even = [x for x in range(1000) if x % 2 == 0]
only_even

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [32]:
#Build [0, 1, 4, 9, 16] using numbers 0..4
from traceback import print_tb


x = [x for x in range(5)]
print(x)

#From nums = range(10), keep only evens.
x = [x for x in range(10) if x % 2 != 0]
print(x)

#From nums, build squares of odd numbers.
x =[x*x for x in range(10)]
print(x)

#From words = [" hi", "", "Python "], strip blanks and keep non-empty, uppercase them.
words = [" hi", "", "Python "]
x = [word.strip().upper() for word in words]
print(x)

#From s = "a1b22c003", extract the digits as ints  [1,2,2,0,0,3].
s = "a1b22c003"
x = [x for x in s if x.isdigit()]
print(x)

#Given vals = [3, -4, 0, -2, 7], make absolute values but skip zeros.
vals = [3, -4, 0, -2, 7]
x = [abs(x) for x in vals if x != 0]
print(x)

#Make all (i, j) pairs for i in 0..2, j in 0..1.
x = [(i,j) for i in range (3) for j in range(2)]
print(x)

[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
['HI', '', 'PYTHON']
['1', '2', '2', '0', '0', '3']
[3, 4, 2, 7]
[(0, 0), (0, 1), (1, 0), (1, 1), (2, 0), (2, 1)]