In [145]:
from tkinter import *
from tkinter import messagebox
import json
import os
import pandas as pd 
import numpy as np

In [146]:
data = []

def show_help():
    messagebox.showinfo('Help', 'Choose the type of weight and input the original recipe ingredients. Sum up with the amount of pieces and see how much you need!')

def add():
    
    weight = input_weight.get()
    name = input_product_name.get()
    aimed_amount = input_aimed.get()

    # Validate the weight input as a number
    try:
        weight = float(weight)
    except ValueError:
        messagebox.showwarning(title="Warning", message="Weight must be a number!")
        return

    if not name:
        messagebox.showwarning(title="Warning", message="Product name cannot be empty!")
        return

    new_data = {
        "name": name,
        "weight": weight,
        "aimed" : aimed_amount
    }


    try:
        data_file_path = './data/data.json'

        # Ensure the directory exists
        if not os.path.exists('./data'):
            print("Creating data directory...")
            os.makedirs('./data')

        # Check if the file exists
        if os.path.exists(data_file_path):
            print("Loading existing data...")
            try:
                with open(data_file_path, mode="r") as data_file:
                    data = json.load(data_file)
                    print(f"Existing data: {data}")
            except json.JSONDecodeError:
                print("Failed to decode JSON, initializing empty list...")
                data = []
        else:
            print("Data file does not exist, initializing empty list...")
            data = []

        # Append the new data to the list
        data.append(new_data)
        print(f"Appending new data: {new_data}")

        # Write the updated data back to the file
        with open(data_file_path, mode="w") as data_file:
            json.dump(data, data_file, indent=4)
            print("Data saved successfully!")

        messagebox.showinfo(title="Success", message="Data saved successfully!")

    except Exception as e:
        messagebox.showerror(title="Error", message=f"An error occurred: {e}")
    finally:
        input_weight.delete(0, END)
        input_product_name.delete(0, END)

def calculate():
    data = pd.read_json('./data/data.json')
print(data)
          

# UI setup
window = Tk()
window.config(padx=25, pady=25)
window.geometry('600x600')
window.title('Cake Converter')

# Info table

Label(window, text="Pick amount and weight: ").grid(column=0, row=2)
input_weight = Entry(window)
input_weight.grid(column=1, row=2)

Label(window, text='What kind of product: ').grid(column=0, row=3)
input_product_name = Entry(window)
input_product_name.grid(column=1, row=3)

Label(window, text='For how many portions do you need?').grid(column=0, row=5)
input_aimed = Entry(window)
input_aimed.grid(column=1, row=5)

Button(window, text='Help?', command=show_help).grid(column=0, row=6)
Button(window, text='Add', command=add).grid(column=1, row=6)

window.mainloop()

[]
Loading existing data...
Existing data: [{'name': 'Mel', 'weight': 23.0, 'aimed': '4'}, {'name': 'WHites', 'weight': 70.0, 'aimed': '4'}, {'name': 'EGGS', 'weight': 1000.0, 'aimed': '4'}, {'name': 'Kurkuma', 'weight': 23.0, 'aimed': '4'}]
Appending new data: {'name': '2', 'weight': 2.0, 'aimed': '2'}
Data saved successfully!

2024-09-21 13:54:31.476 python[10676:106157] Warning: Expected min height of view: (<NSButton: 0x7fb81d79fef0>) to be less than or equal to 30 but got a height of 32.000000. This error will be logged once per view in violation.

Loading existing data...
Failed to decode JSON, initializing empty list...
Appending new data: {'name': '2', 'weight': 23.0, 'aimed': '2'}
Data saved successfully!

2024-09-21 13:54:51.262 python[10676:106157] Warning: Expected min height of view: (<NSButton: 0x7fb81ea29c00>) to be less than or equal to 30 but got a height of 32.000000. This error will be logged once per view in violation.

In [147]:
data = pd.read_json('./data/data.json')
print(data)

   name  weight  aimed
0     2      23      2

In [148]:
data = pd.DataFrame(data)
data.head()

   name  weight  aimed
0     2      23      2

In [149]:
proportion_data = data['aimed']
data.drop('aimed', axis=1, inplace=True)
proportion_data

0    2
Name: aimed, dtype: int64

In [150]:
data

   name  weight
0     2      23

In [151]:
data_for_math = pd.Series(data_for_math)
data_for_math = proportion_data.iloc[-1]
data_for_math

2

In [152]:
data_for_math.aimed

AttributeError: 'numpy.int64' object has no attribute 'aimed'

In [ ]:
new_data = data.weight / data_for_math 
new_data = pd.DataFrame(new_data)
new_data

   weight
0    5.75
1   17.50
2  250.00
3    5.75

In [ ]:
data['new_data'] = new_data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      4 non-null      object
 1   weight    4 non-null      int64
 2   new_data  4 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 228.0+ bytes

In [ ]:
data.new_data

0      5.75
1     17.50
2    250.00
3      5.75
Name: new_data, dtype: float64

In [ ]:
data

      name  weight  new_data
0      Mel      23      5.75
1   WHites      70     17.50
2     EGGS    1000    250.00
3  Kurkuma      23      5.75

In [ ]:
for index, row in data.iterrows():
    print(f"You need {row['new_data']} of {row['name'].lower()}")

You need 5.75 of mel
You need 17.5 of whites
You need 250.0 of eggs
You need 5.75 of kurkuma